<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Myapp.com, <%= @user.email %></h1>
    <p>
      You have successfully register on myapp.com.
    </p>
    <p>Thanks for register and have a great day!</p>
  </body>
</html>
