body {
    background-color: #e4caaf
}
.form-actions {
    margin: 0;
    background-color: white;
    text-align: center;
}
h1 {
    text-align: center;
}
.posts {
    background-color: white;
}
.heading {
    font-weight: bold;
}